@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Allura&family=Orbitron:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding: 0 5%;
  position: absolute;
  width: 100%;
  z-index: 100;
}

header h1 {
  font-size: 60px;
  color: white;
}
header nav {
  display: flex;
  gap: 30px;
}
header nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 99px;
  transition: 0.4s;
  color: white;
}
header nav a.login {
  background: #08042c;
}
header nav a.login:hover {
  background: #5247b9;
}
header nav a:hover {
  background: #5247b9;
}
header nav a:hover > a:not(:hover) {
  background: none;
}

@media screen and (max-width: 1024px) {
  header {
    height: 100px;
    padding: 0 3%;
  }

  header h1 {
    font-size: 40px;
  }
  header nav {
    gap: 20px;
  }
  header nav a {
    font-size: 16px;
    padding: 8px 12px;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 80px;
    padding: 0 2%;
    justify-content: center;
    flex-wrap: wrap;
  }

  header h1 {
    font-size: 30px;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 20%px;
    margin-bottom: 40px;
  }
}

.home {
  display: flex;
  height: 100dvh;
  background: linear-gradient(to top, #d2e2fb 30%, #86a8db);
  position: relative;
  overflow: hidden;
}

.home img {
  position: absolute;
  bottom: 0;
  width: 100%;
  pointer-events: none;
}
.home .title {
  position: absolute;
  font-family: "allura";
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 160px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 768px) {
  .home img {
    left: -50%;
    width: 280%;
  }
  .home .title {
    font-size: 120px;
  }
}

.road {
  display: flex;
  height: 20dvh;
  background: #3b3291;
  position: relative;
  overflow: hidden;
}

.road img {
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .road img {
    left: -50%;
    width: 280%;
  }
}

.presentation {
  padding-top: 250px;
  padding-bottom: 250px;
  background: linear-gradient(to bottom, #3b3291, #1770b9);
  color: white;
  position: relative;
  z-index: 100;
  text-align: center;
  overflow: hidden;
}

.presentation h1 {
  font-size: 40px;
}
.presentation .present {
  width: 70%;
  border: solid 10px;
  border-radius: 50px;
  padding: 20px;
  background: #675ccf;
  margin: 5%;
  margin-left: 15%;
  margin-right: 15%;
}
.presentation .summary {
  width: 96%;
  border: solid 10px;
  border-radius: 100px;
  padding: 20px;
  background: #958ceb;
  margin: 2%;
}
.presentation .summary .column {
  column-count: 3;
  column-gap: 20px;
  padding: 2%;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  gap: 8%;
}
.presentation .summary .column .elements p {
  text-align: center;
}
.presentation .summary .column .elements a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 768px) {
  .presentation h1 {
    font-size: 30px;
  }
  .presentation .present .summary .column {
    display: flex;
    flex-direction: column;
  }
}
